Flask==1.1.2
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.6.5
Jinja2==3.0.3
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
nltk==3.5
notebook==6.0.3
np-utils==0.6.0
numpy==1.18.4
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.2.1
packaging==20.4
pandas==1.2.4
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
pipenv==2020.6.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.11.3
pyasn1==0.4.8
resnet==0.1
rfc3986==1.4.0
rsa==4.0
scikit-learn==1.0.2
scipy==1.4.1
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
sniffio==1.1.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.2
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tflearn==0.3.2
threadpoolctl==3.0.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
twilio==6.44.1
urllib3==1.25.9
virtualenv==20.0.21
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
winshell==0.6
wolframalpha==4.0.0
wrapt==1.12.1
xmltodict==0.12.0
zope.event==4.5.0
zope.interface==5.4.0
