Flask
gunicorn==20.1.0
h5py
keras
Keras-Preprocessing
nltk
np-utils
numpy
opencv-python
pandas
resnet
scikit-learn
sklearn
tensorboard
tensorflow
tensorflow-estimator
tensorboard-plugin-wit==1.6.0.post3
