Flask
gunicorn==20.1.0
h11
h2
h5py
hpack
hstspreload
Jinja2
keras
Keras-Preprocessing
kiwisolver
Markdown
nltk
notebook
np-utils
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
pipenv
prometheus-client
prompt-toolkit
protobuf
pyasn1
resnet
rfc3986
rsa
scikit-learn
seaborn
selenium
Send2Trash
sklearn
sniffio
soupsieve
SpeechRecognition
sqlparse
tensorboard
tensorboard-plugin-wit3
tensorflow
tensorflow-estimator
